<div style="font-family: 'Ultra';">
    <div class="modal-header">
        <h4 class="modal-title font-weight-bold">
            Login
        </h4>
    </div>

    <div class="modal-body">
        <form>
            <div class="md-form">
                <mdb-icon fas icon="user-alt" class="mr-1 prefix"></mdb-icon>
                <input type="text" placeholder="Username" class="form-control" mdbInput>
            </div>

            <div class="md-form">
                <mdb-icon fas icon="key" class="mr-1 prefix"></mdb-icon>
                <input type="password" placeholder="Password" class="form-control"mdbInput>
            </div>

        </form>
    </div>

    <div class="modal-footer text-white justify-content-center">
        <button type="button" class="waves-light" mdbBtn mdbWavesEffect style="background-color: #ee693f;" (click) = "login()">
            <mdb-icon fas icon="globe" class="mr-1"></mdb-icon>
            Login
        </button>
    </div>
</div>
