<div class="container mt-5" style="font-family: 'Ultra';">
    <h1 class="text-white font-weight-bold">
        <mdb-icon fas icon="film" class="mr-1"></mdb-icon>
        Movies List
    </h1>
    
    <form class="form-inline md-form container">
        <div style="width: 100%">
            <div class="md-form ">
                <mdb-icon fas icon="search" class="prefix mr-1"></mdb-icon>
                <input class="form-control ml-5" type="text" placeholder="Search..." style="color: white" mdbInput id="search">
            </div>

            <div class="row ml-1 mt-1 font-weight-bold text-white">
                <div class="col-md">
                   <p>Sort:</p>
                   <select class="browser-deafult custom-select filter-param">
                        <option>A-Z</option>
                        <option>Z-A</option>
                    </select>
                </div>
    
                <div class="col-md">
                    <p>Genre:</p>
                    <select class="browser-default custom-select filter-param">
                        <option>Action</option>
                        <option>Romance</option>
                        <option>Horor</option>
                    </select>
                </div>
    
                <div class="col-md">
                    <p>Year:</p>
                    <select class="browser-default custom-select filter-param">
                        <option>2020</option>
                        <option>2019</option>
                        <option>2018</option>
                        <option>2017</option>
                    </select>
                </div>
    
                <div class="col-md">
                    <p>Rating:</p>
                    <select class="browser-defaul custom-select filter-param">
                        <option>5+</option>
                        <option>6+</option>
                        <option>7+</option>
                    </select>
                </div>
            </div>
      
        </div>
    
    </form>

    <br>

    <h5 class="text-center text-white">Displaying 26 of 8000</h5>
    <br>

    <app-app-pagination-bar></app-app-pagination-bar>

    <div class="mt-5">
        <button type="button" class="waves-light button-color" mdbBtn mdbWavesEffect routerLink="/tmovies-admin-panel/add-movie">
            <mdb-icon fas icon="plus" class="mr-1"></mdb-icon>
            Add
        </button>

        <button type="button" class="waves-light button-color ml-3" mdbBtn mdbWavesEffect (click) = "openMultiDeleteMoviesModal()">
            <mdb-icon fas icon="trash" class="mr-1"></mdb-icon>
            Multi delete
        </button>
    </div>

    <table mdbTable class="text-white mt-5">
        <thead>
            <tr>
                <th scope="col" >
                    <div class="custom-control custom-checkbox font-weight-bold">
                        <mdb-checkbox default="true">All</mdb-checkbox>
                    </div>
                </th>

                <th scope="col" class="text-center font-weight-bold">#</th>
                <th scope="col" class="text-center font-weight-bold">Title</th>
                <th scope="col" class="text-center font-weight-bold">Release Date</th>
                <th scope="col" class="text-center font-weight-bold">Rating</th>
                <th scope="col" class="text-center font-weight-bold">Genre</th>
                <th scope="col" class="text-center font-weight-bold">Description</th>
                <th scope="col" class="text-center font-weight-bold">Operation</th>
            </tr>
        </thead>

        <tbody>
            <tr mdbTableCol>
                <td>
                    <div class="custom-control custom-checkbox">
                        <mdb-checkbox default="true"></mdb-checkbox>
                    </div>
                </td>

                <td class="text-center">1</td>
                <td class="text-center">Avengers</td>
                <td class="text-center">07-05-2017</td>
                <td class="text-center">7.8 / 10</td>
                <td class="text-center">Action, Super Hero</td>
                <td class="text-center">
                    <button type="button" class="waves-light button-color" mdbBtn mdbWavesEffect (click) = "openDescriptionModal()">
                        <mdb-icon fas icon="book" class="mr-1"></mdb-icon>
                        Read
                    </button>
                </td>

                <td class="text-center">
                    <button type="button" class="waves-light button-color" mdbBtn mdbWavesEffect routerLink="/tmovies-admin-panel/edit-movie">
                        <mdb-icon fas icon="edit" class="mr-1"></mdb-icon>
                        Edit
                    </button>

                    <button type="button" class="waves-light button-color ml-3" mdbBtn mdbWavesEffect (click) = "openDeleteSingleMovieModal()">
                        <mdb-icon fas icon="trash" class="mr-1"></mdb-icon>
                        Delete
                    </button>

                </td>
            </tr>

            <tr mdbTableCol>
                <td>
                    <div class="custom-control custom-checkbox">
                        <mdb-checkbox default="true"></mdb-checkbox>
                    </div>
                </td>

                <td class="text-center">1</td>
                <td class="text-center">Avengers</td>
                <td class="text-center">07-05-2017</td>
                <td class="text-center">7.8 / 10</td>
                <td class="text-center">Action, Super Hero</td>
                <td class="text-center">
                    <button type="button" class="waves-light button-color" mdbBtn mdbWavesEffect>
                        <mdb-icon fas icon="book" class="mr-1"></mdb-icon>
                        Read
                    </button>
                </td>

                <td class="text-center">
                    <button type="button" class="waves-light button-color" mdbBtn mdbWavesEffect>
                        <mdb-icon fas icon="edit" class="mr-1"></mdb-icon>
                        Edit
                    </button>

                    <button type="button" class="waves-light button-color ml-3" mdbBtn mdbWavesEffect>
                        <mdb-icon fas icon="trash" class="mr-1"></mdb-icon>
                        Delete
                    </button>

                </td>
            </tr>

            <tr mdbTableCol>
                <td>
                    <div class="custom-control custom-checkbox">
                        <mdb-checkbox default="true"></mdb-checkbox>
                    </div>
                </td>

                <td class="text-center">1</td>
                <td class="text-center">Avengers</td>
                <td class="text-center">07-05-2017</td>
                <td class="text-center">7.8 / 10</td>
                <td class="text-center">Action, Super Hero</td>
                <td class="text-center">
                    <button type="button" class="waves-light button-color" mdbBtn mdbWavesEffect>
                        <mdb-icon fas icon="book" class="mr-1"></mdb-icon>
                        Read
                    </button>
                </td>

                <td class="text-center">
                    <button type="button" class="waves-light button-color" mdbBtn mdbWavesEffect>
                        <mdb-icon fas icon="edit" class="mr-1"></mdb-icon>
                        Edit
                    </button>

                    <button type="button" class="waves-light button-color ml-3" mdbBtn mdbWavesEffect>
                        <mdb-icon fas icon="trash" class="mr-1"></mdb-icon>
                        Delete
                    </button>

                </td>
            </tr>

        </tbody>
    </table>

    <br>
    <br>
    <br>
</div>