
<main class=" TMoviesPrimary">

    <mdb-carousel class="carousel slide carousel-fade" [animation] = "'fade'">
      <mdb-carousel-item>
  
        <div class="view w-100">
          <img src="assets/Home.png" alt="">
          <div class="mask rgba-black-light waves-light" mdbWavesEffect>
            <h1 class="h1-responsive mt-5 main-text">
              Find And Download Your Favorite Movies From TMovies
            </h1>
          </div>
        </div>
  
        <div class="carousel-caption">
          <h1 class="h1-responsive" style="font-family: Ultra;">Startrek (2016)</h1>
        </div>
  
      </mdb-carousel-item>
  
      <mdb-carousel-item>
  
        <div class="view w-100">
          <img src="assets/Titanic.jpg" alt="">
          <div class="mask rgba-black-light waves-light" mdbWavesEffect>
            <h1 class="h1-responsive mt-5 main-text">
              Find And Download Your Favorite Movies From TMovies
            </h1>
          </div>
        </div>
  
        <div class="carousel-caption">
          <h1 class="h1-responsive" style="font-family: Ultra;">Titanic (1997)</h1>
        </div>
  
      </mdb-carousel-item>
  
      <mdb-carousel-item>
  
        <div class="view w-100">
          <img src="assets/Robo cop.jpg" alt="">
          <div class="mask rgba-black-light waves-light" mdbWavesEffect>
            <h1 class="h1-responsive mt-5 main-text">
              Find And Download Your Favorite Movies From TMovies
            </h1>
          </div>
        </div>
  
        <div class="carousel-caption">
          <h1 class="h1-responsive" style="font-family: Ultra;">Robo Cop (2013)</h1>
        </div>
  
      </mdb-carousel-item>
  
      <mdb-carousel-item>
  
        <div class="view w-100">
          <img src="assets/Batman lego.jpg" alt="">
          <div class="mask rgba-black-light waves-light" mdbWavesEffect>
            <h1 class="h1-responsive mt-5 main-text">
              Find And Download Your Favorite Movies From TMovies
            </h1>
          </div>
        </div>
  
        <div class="carousel-caption">
          <h1 class="h1-responsive" style="font-family: Ultra;">Batman Lego (2018)</h1>
        </div>
  
      </mdb-carousel-item>
  
      <mdb-carousel-item>
  
        <div class="view w-100">
          <img src="assets/Avengers.jpg" alt="">
          <div class="mask rgba-black-light waves-light" mdbWavesEffect>
            <h1 class="h1-responsive mt-5 main-text">
              Find And Download Your Favorite Movies From TMovies
            </h1>
          </div>
        </div>
  
        <div class="carousel-caption">
          <h1 class="h1-responsive" style="font-family: Ultra;">Avengers (2017)</h1>
        </div>
  
      </mdb-carousel-item>
  
    </mdb-carousel>
      
      <div class="title">
          <h4>
              LATEST MOVIES
          </h4>
      </div>
        
        <app-app-gallery></app-app-gallery>
  
        <div class="title">
          <h4>
              RANDOM MOVIES
          </h4>
        </div>
  
        <app-app-gallery></app-app-gallery>
  
        <br>
        <br>
  </main>
  <!-- /.Main -->
  
