
<div class="container-fluid text-white">
    <div class="row view" style="background-image: url('assets/Avengers.jpg'); height: 60vh;">
        <div class="mask rgba-black-strong position-relative">

                    <div class="text-center mt-5 font-weight-bold">
    
                        <h1 class="font-weight-bold h1-responsive" style="font-family: 'Ultra'; color:  #ee693f;">
                            Mission Imposible Ghost Protocol
                        </h1>
            
                        <h3 class="mt-5 h3-responsive" style="color:  #ee693f;">
                            <mdb-icon fas icon="book" class="mr-1"></mdb-icon>
                            Synopsis
                        </h3>
            
                        <p class="mt-3">
                            In 2028 Detroit, when Alex Murphy, a loving husband, father and good cop, is critically injured in the line of duty, the multinational conglomerate OmniCorp sees their chance for a part-man, part-robot police officer.
                        </p>
                             
                            <h3 class="h3-responsive" style="color: #ee693f;">
                                <mdb-icon fas icon="star" ></mdb-icon>
                                <p class="mt-2">
                                    7.8 / 10
                                </p>
                            </h3>
                    </div>
        </div>
    </div>
</div>

    <h3 style=" padding: 5px; background-color:  #ee693f; border-radius: 0 0 50px 50px; text-align: center; font-family: 'Ultra';" class="mx-auto text-white">
        <mdb-icon fas icon="download" class="mr-1"></mdb-icon>
        Download:
        <a class="ml-3 downloadable">720p</a>
        <a class="ml-3 downloadable">1080p</a>
    </h3>

<div class="title">
    <h4>
        Additional Info
    </h4>
  </div>

<table class="w-100 text-center mt-5 mx-auto">
    <tr style="color: #ee693f;">
        <th>Release Date</th>
        <th>Genre</th>
        <th>Length</th>
    </tr>

    <tbody>
        <tr class="text-white">
            <td>01-05-2020</td>
            <td>Action, Super Hero</td>
            <td>90 min</td>
        </tr>
    </tbody>
</table>

<div class="title">
    <h4>
        Similar Movies
    </h4>
  </div>

<app-app-gallery class="mb-5 mt-1">

</app-app-gallery>

